body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: sans-serif;
}

nav ul, nav li, nav form{
    display: inline;
}

.hero-image {
    position: relative;
    height: 500PX;
    overflow: hidden;
    background: url(../img/hero3.jpg) no-repeat center;
    background-size: cover;
}

.container {

    position:absolute;
    top: 35%;
    left 35%;
    transform: translate (-50%,-50%);
    overflow: hidden;
}
section #test {
   margin: 10px;
   padding: 10px;
   border: 20px;
   border-color: blue;
   border-style: solid;
}

