.hero.is-primary .title {
  color: #009494;
  font-size: 10em;
}

.hero.is-primary .subtitle {
  color: #f777ca;
  font-size: 5em;
}


.hero.is-primary.is-bold {
  background-image: url(../img/hero3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} 

/*
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
/*    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
/*}

h1 {
    font-size: 60px;
    text-align: center;
  }
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

#logo {
    position: fixed;
    margin: 10px 15px 15px 10px;
    left: 0;
    display:inline;
}
nav ul {
    position: fixed;
    display:inline;
    right: 0;
}
*/
/*
 nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: hsl(355, 100%, 60%);
    display: flex;
    
 }
nav li { 
    float: right;

 }


 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 nav li a:hover:not (.active) {
    background-color: #BBBBBB
  }
  
  .active {
  background-color: #4CAF50;
}

*/
/*
.hero-image {
    position: relative;
    height: 500PX;
    overflow: hidden;
    background: url(../img/hero3.jpg) no-repeat center;
    background-size: cover;
}

.container {

    position:absolute;
    top: 35%;
    left 35%;
    transform: translate (-50%,-50%);
    overflow: hidden;
}
section #test {
   margin: 10px;
   padding: 10px;
   border: 20px;
   border-color: blue;
   border-style: solid;
}
*/
#flexarticle {
  display: flex;
  flex-flow: row  wrap;
  justify-content: flex-start;
  
 }

.one {
  flex: 1 1 auto;
  padding: 20px;
  margin: 30px;
 
 
}

.two {
  flex: 1 1 auto;
  padding: 20px;
  margin: 30px;
  
}

.three {
  flex: 1 1 auto;
  padding: 20px;
  margin: 30px;
 

}
#workflow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.consult {
  flex: 1 1 auto;
  padding: 20px;
  margin: 30px;
  border-style: solid;
  text-align: center;

 
}

.design{
  flex: 1 1 auto;
  padding: 20px;
  margin: 30px;
  border-style: solid;
  text-align: center;
}

.devtest {
  flex: 1 1 auto;
  padding: 20px;
  margin: 30px;
  border-style: solid;
  text-align: center;
}

.deploy {
  flex: 1 1 auto;
  padding: 20px;
  margin: 30px;
  border-style: solid;
  text-align: center;
}
